 
    
      
      
      
      /*body {
            font-family: Arial, sans-serif;
            color: #333333;
        }
       
        .ticket-form {
            border: 1px solid #ccc;
            padding: 20px;
            margin-bottom: 20px;
        }
        .logo{
            position: relative;
            height: 30%;
            width: 30%;
            margin: 1em;
        }
        #menudesplegable{
            margin: 1em;
        
        }
        #menubutton{
            border-radius: 40px;
        }
       
        .separador{
            position: relative;
            text-align :flex;
            width: 100%;
        }
        header {
            background-color: #343a40;
            color: #fff;
            padding: 1em;
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        #colpanel{
            position: relative;
            left: 12%;
        }
          .banner {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
          }
          .section {
            padding: 2em;
            text-align: center;
            background-color: #fff;
            margin: 1em;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          }
         
          .footer {
            background-color: #333;
            color: #fff;
            padding: 1em;
            text-align: center;
            position: relative;
            bottom: 0px;
            width: 100%;
          }
          nav {
            display: none;
            flex-direction: column;
            position: absolute;
            left: 0;
            background-color: #333;
            width: 100%;
          }
          #boton{
            position: relative;
            left: -39%;
          }
          nav a {
            padding: 1em;
            color: #fff;
            text-decoration: none;
            text-align: center;
            display: block;
          }
          .menu-btn {
            display: none;
          }
          @media (max-width: 768px) {
            nav {
              display: flex;
              position: static;
            }
            .menu-btn {
              display: block;
              cursor: pointer;
            }
            header {
              flex-direction: column;
            }
        }


            .highcharts-figure,
            .highcharts-data-table table {
             min-width: 360px;
             max-width: 800px;
             margin: 1em auto;
            }

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
.section {
      padding: 2em;
      text-align: center;
      background-color: #f1f1f1;
      margin: 1em;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .menusection {
        text-align: center;
        background-color: #333;
        color:white;
      }
      .probar{
        
        border:solid 1px black;
        position: relative;
        left: 50px;
        
        width: 300px;
        height:600px;
    }
    .probar1{
        border:solid 1px black;
        position: relative;
        top: 0px;
        left: -50px;
        width: 270px;
        height: 600px;
        background-color: white;

    }
    .probar2{
        border:solid 1px black;
        position: relative;
        left: 48px;
        
        width: 300px;
        height:600px;
        background-color: white;

    }
 .table{
    font-size: 8px;
    width: 100%;
    left: -25px;
 }
 #table{
    font-size: 8px;
    width: 100%;
    left: -25px;
 }
 .titulo{
    text-align: center;
    color:#0A568E;
 }
 legend{
  color: #000;
 }
 .icono{
  position: relative;
  height: 100px;
  width: 100px;
 }
 #gaurdarcambios{
  position: relative;
  text-align: center;
 }
 .divcambios{
  position: relative;
  width: 100%;
 }
 .dropdown-menu{
  background-color: #343a40;

 }
 .dropdown-item{ 
  color:white;
 }
  
*/